

body {
    background-color: rgb(70, 67, 67);
}

h1 {
    color: rgb(209, 206, 206);
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

h2 {
    color: rgb(209, 206, 206);
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.button-top {
    text-align: center;
    margin-bottom: 2%;
}

button {
    border: 3px solid green;
    height: 50px;
    
}

.input-section {
    text-align: center;
    margin-bottom: 2%;
}

input {
    height: 25px;
}


.bingo-frame {
    display: grid;
    gap: 1em;
    margin: 0.5em;

}

.userboard-frame {
    display: grid;
    gap: 1em;
    margin: 0.5em;

}

@media(min-width:1000px) {
    .bingo-frame {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .userboard-frame {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

.bingo-number {
    color: black;;
    background: rgba(243, 247, 248, 0.88); 
    border-color: rgba(173,206,195,.38);
    border: solid 1px;
    border-color: rgba(210,225,236,.88);
    border-radius: 3px 10px 3px 3px;
    padding: 0.7em;
}

.userboard-number {
    color: black;;
    background: rgba(153, 228, 246, 0.88); 
    border-color: rgba(173,206,195,.38);
    border: solid 1px;
    border-color: rgba(210,225,236,.88);
    border-radius: 10px 3px 3px 3px;
    padding: 0.7em;

}
  
.highlighted-cell {
    background-color: red; 
}
